.about {
  max-width: 960px;
  padding: 120px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 40px;
  margin: 0 auto;

  .about-bio {
    padding: 0 20px;

    h2 {
      font-size: 2.5rem;
      padding-bottom: 10px;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.4;
      margin-bottom: 1rem;
    }
  }
}
