.about {
  max-width: 900px;

  .about-content {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;

    .about-img {
      margin: 0 auto;

      img {
        border-radius: 8px;
        max-width: 260px;

        @include sm-phone {
          max-width: 220px;
        }
      }
    }

    .about-bio {
      flex: 1 1 360px;

      p {
        margin-bottom: 18px;
        transition: color 600ms linear;

        &:last-child {
          flex: 1 1 400px;
        }
      }
  
      &:hover {
        color: $color-1;
      }
    }
  }
}
