.about {
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 20px;

  .about-container {
    align-items: center;
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr;

    .about-bio {
      padding: 0 20px;
    }

    .about-img img {
      border-radius: 4px;
    }
  }
}
