.header-bg {
  background-color: $color-8;
  border-bottom: .5px solid $color-6;

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 12px;

    .logo {
      color: $color-2;
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      font-weight: 600;

      &:hover {
        color: $color-1;

        span {
          color: $primary-color-3;
        }
      }

      span {
        color: $color-4;
        font-size: 1.75rem;
      }
    }

    .header-navbar {
      color: $color-2;
      display: flex;
      flex-wrap: wrap;
      font-family: 'Poppins', sans-serif;
      gap: 40px;

      &:hover {
        color: $color-1;
      }

      a {
        display: inline-block;
        font-size: 1.125rem;
        padding: 16px 0;
        position: relative;

        &::after {
          content: '';
          background-color: $primary-color-3;
          border-radius: 4px;
          display: block;
          height: 4px;
          margin-top: 2px;
          position: absolute;
          transition: 300ms;
          width: 0;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
