.home {
  align-items: center;
  display: flex;

  .home-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: calc(100vh - 80px);
    justify-content: center;

    @include phone {
      height: calc(100vh - 160px);
      padding-left: 6px;
      padding-right: 6px;
    }

    .home-title {

      h1 {
        color: $color-1;
        font-family: 'Poppins', sans-serif;
        font-size: 8rem;
        font-weight: 600;

        span {
          color: $primary-color-1;
        }

        @include laptop {
          font-size: 7rem;
        }

        @include tablet {
          font-size: 5rem;
        }

        @include phone {
          font-size: 4rem;
        }

        @include sm-phone {
          font-size: 3rem;
        }
      }

      p {
        color: $color-2;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.3;
        
        &:first-child {
          color: $primary-color-1;
        }

        @include laptop {
          font-size: 1.75rem;
        }

        @include tablet {
          font-size: 1.5rem;
        }

        @include phone {
          font-weight: 400;
        }
      }
    }
  }
}
