.home-bg {
  align-items: center;
  display: flex;

  .home {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: calc(100vh - 76px);
    justify-content: center;

    .home-title {
      font-weight: 600;

      h1 {
        color: $color-1;
        font-family: 'Poppins', sans-serif;
        font-size: 8rem;

        span {
          color: $primary-color-1;
        }
      }

      p {
        color: $color-2;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        line-height: 1.3;
        
        &:first-child {
          color: $primary-color-1;
        }
      }
    }
  }
}
