.projects {
  max-width: 960px;

  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .projects-card {
      flex: 1 1 280px;
      border: 2px solid $color-4;
      border-radius: 8px;
      transition: transform 400ms linear;

      p {
      transition: color 400ms linear;
      }

      &:hover {
        transform: scale(1.02);

        p {
          color: $color-1;
        }
      }
      
      .img-box {
        img {
          border-radius: 8px 8px 0 0;
        }
      }

      .project-description {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 20px;

        .card-title {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .card-icons {
            align-items: center;
            display: flex;
            gap: 16px;

            .github-icon,
            .link-icon {
              height: 25px;
              width: 25px;
              background: contain;
              display: block;
            }

            .github-icon {
              background: url(../../assets/icons/github.svg) no-repeat;

              &:hover {
                background: url(../../assets/icons/github-color.svg) no-repeat;
                height: 26px;
              }
            }

            .link-icon {
              background: url(../../assets/icons/link.svg) no-repeat;

              &:hover {
                background: url(../../assets/icons/link-color.svg) no-repeat;
                height: 26px;
              }
            }
          }
        }

        .card-techs {
          padding: 8px 0;

          .tech-bg {
            padding: 4px 8px;
            margin-right: 4px;
            border-radius: 4px;
          }

          .html {
            background-color: rgba(254, 178, 178, 0.16);
            color: #FEB2B2;
          }

          .css,
          .react {
            background-color: rgba(144, 205, 244, 0.16);
            color: #90cdf4;
          }

          .js {
            background-color: rgba(250, 240, 137, 0.16);
            color: #FAF089;
          }
        }
      }
    }
  }
}
