.skills-bg {
  background-color: $color-2;
  padding-bottom: 60px;
  padding-top: 60px;
  

  .skills {
    max-width: 960px;
    
    .skills-list {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(5, 1fr);
      margin: 0 auto;
      // padding-top: 20px;

      li {
        color: $color-7;
        align-items: center;
        // background-color: $color-1;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        gap: 20px;
        letter-spacing: 2px;
        padding: 32px;

        // &:hover {
        //   background-color: #bbfcc8;
        //   color: $color-8;
        // }
      }

      img {
        width: 50px;
      }
    }  
  }
}