$color-1: #ffffff;
$color-2: #f7f7f7;
$color-3: #dedede;
$color-4: #9c9c9c;
$color-5: #595959;
$color-6: #2e2e2e;
$color-7: #111111;
$color-8: #000000;
$color-primary-1: #39d353;
$color-primary-2: #26a641;
$color-primary-3: #006d32;
$color-primary-4: #0e4429;
$color-primary-5: #001d0f;
