$color-1: #ffffff;
$color-2: #f7f7f7;
$color-3: #dedede;
$color-4: #9c9c9c;
$color-5: #595959;
$color-6: #2e2e2e;
$color-7: #111111;
$color-8: #000000;

$primary-color-1: #00ff2a;
$primary-color-2: #21e441;
$primary-color-3: #39d353;
$primary-color-4: #26a641;
$primary-color-5: #006d32;
$primary-color-6: #0e4429;
$primary-color-7: #00130a;
