.container {
  margin: 0 auto;
  padding: 80px 20px;

  @include tablet {
    padding-bottom: 40px;
  }

  @include phone {
    padding: 80px 12px 20px;
  }

  @include sm-phone {
    padding-bottom: 0;
  }
}

.title {
  align-items: center;
  display: flex;
  font-size: 2.250rem;
  font-weight: 600;
  margin-bottom: 60px;
  justify-content: center;
  position: relative;

  @include phone {
    font-size: 2rem;
    margin-bottom: 32px;
  }

  @include sm-phone {
    font-size: 1.75rem;
  }

  &::after,
  &::before {
    background-color: $primary-color-1;
    content: '';
    display: block;
    height: 1px;
    position: relative;
    width: 120px;

    @include phone {
      width: 40px;
    }
  }

  &::after {
    margin-left: 20px;
  }

  &::before {
    margin-right: 20px
  }
}

.social-links {
  display: flex;
  gap: 16px;

  .contact-link {
    align-items: center;
    border: 1px solid $color-3;
    border-radius: 4px;
    color: $color-2;
    display: flex;
    gap: 8px;
    padding: 6px 12px;
  
    &:hover {
      background: $color-4;
      border: 1px solid $color-4;
      color: $color-1;
    }

    @include phone {
      font-size: .875rem;
      gap: 4px;
      padding: 4px 8px;
    }
  }

  @include tablet {
    gap: 8px;
    justify-content: center;
  }
}

.button {
  background: linear-gradient($primary-color-1, $primary-color-2);
  border: 1px solid $color-5;
  color: $primary-color-3;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  font: 600 1rem 'Poppins', sans-serif;
  max-width: max-content;
  padding: 12px 24px;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $primary-color-2;
    color: $color-6;
  }

  @include sm-phone {
    padding: 8px 16px;
  }
}

.js .scrollbar-position {
  overflow-y: hidden;
  position: relative;
}
