.container {
  padding: 80px 20px;
  margin: 0 auto;
}

.title {
  font-size: 2.250rem;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;

  &::before {
    content: '';
    display: block;
    position: relative;
    margin-right: 20px;
    width: 120px;
    height: 1px;
    background-color: $primary-color-1;
  }

  &::after {
    content: '';
    display: block;
    position: relative;
    margin-left: 20px;
    width: 120px;
    height: 1px;
    background-color: $primary-color-1;
  }
}
